<div *ngIf="{
    elapsedTime: elapsedTime$ | async,
    taskContext: taskContext$ | async,
    artifactList: artifactList$ | async,
    runtimeInfo: runtimeInfo$ | async,
    simulationId: simulationId$ | async,
    isFinished: isFinished$ | async
} as data">
    <div class="step-container">
        <simbad-performance-monitor
            [elapsedTime]="data.elapsedTime"
            class="performance-monitor"
        >
        </simbad-performance-monitor>
        <simbad-client-task-context
            [data]="taskContext$ | async"
            class="task-context"
        >
        </simbad-client-task-context>
        <div>
            <simbad-client-artifact-list
                [artifacts]="data.artifactList"
                class="artifact-list"
            ></simbad-client-artifact-list>
            <a>
                <button
                        id="cell-model"
                        mat-raised-button
                        (click)="goToModelViewer(data.simulationId)"
                        [disabled]="!data.isFinished"
                >
                    View Cell Model
                </button>
            </a>
        </div>
    </div>
    <span>Report job progress: {{data.runtimeInfo?.progress}}%</span>
    <mat-progress-bar mode="determinate" class="progress" [value]="data.runtimeInfo?.progress"></mat-progress-bar>
    <mat-divider></mat-divider>
</div>
