<mat-accordion>
    <mat-expansion-panel class="configuration-step">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal data
            </mat-panel-title>
            <mat-panel-description>
                Type your name and age
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container" rtl>
            <div class="row">
                <div class="col">
                    <h1 class="main-heading">{{ 'simbad.examples.form.title' | translate }}</h1>
                </div>
            </div>
            <ng-container *ngIf="formValueChanges$ | async as updatedForm">
                {{update(updatedForm)}}
            </ng-container>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'simbad.examples.form.subtitle1' | translate }}</h2>
            <mat-slide-toggle formControlName="autosave">
              {{ 'simbad.examples.form.autosave' | translate }}
            </mat-slide-toggle>
          </span>
                            <div class="row">
                                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                    <input matInput placeholder="{{ 'simbad.examples.form.placeholder1' | translate }}"
                                           formControlName="username">
                                    <mat-error *ngIf="form.get('username').invalid">
                                        {{ 'simbad.examples.form.placeholder1' | translate }}
                                        {{ 'simbad.examples.form.error1' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                    <input matInput type="password" placeholder="{{ 'simbad.examples.form.placeholder2' | translate }}"
                                           formControlName="password">
                                    <mat-error *ngIf="form.get('password').invalid">
                                        {{ 'simbad.examples.form.placeholder2' | translate }}
                                        {{ 'simbad.examples.form.error1' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                    <input matInput placeholder="{{ 'simbad.examples.form.placeholder3' | translate }}"
                                           formControlName="email" type="email">
                                    <mat-error *ngIf="form.get('email').hasError('required')">
                                        {{ 'simbad.examples.form.placeholder3' | translate }}
                                        {{ 'simbad.examples.form.error1' | translate }}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('email').hasError('email')">
                                        {{ 'simbad.examples.form.placeholder3' | translate }}
                                        {{ 'simbad.examples.form.error2' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                    <input matInput formControlName="birthday" [matDatepicker]="picker" placeholder="{{ 'simbad.examples.form.placeholder5' | translate }}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('birthday').hasError('required')">
                                        {{ 'simbad.examples.form.placeholder5' | translate }}
                                        {{ 'simbad.examples.form.error1' | translate }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <textarea matInput placeholder="{{ 'simbad.examples.form.placeholder4' | translate }}"
                        formControlName="description" minlength="10" maxlength="1000" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
                                    <mat-hint align="end">{{form.get('description').value?.length}} /
                                        1000</mat-hint>
                                    <mat-error *ngIf="form.get('description').hasError('required')">
                                        {{ 'simbad.examples.form.placeholder4' | translate }}
                                        {{ 'simbad.examples.form.error1' | translate }}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('description').hasError('minlength')">
                                        {{ 'simbad.examples.form.placeholder4' | translate }}
                                        {{ 'simbad.examples.form.error3' | translate }} 10
                                    </mat-error>
                                    <mat-error *ngIf="form.get('description').hasError('maxlength')">
                                        {{ 'simbad.examples.form.placeholder4' | translate }}
                                        {{ 'simbad.examples.form.error4' | translate }} 1000
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row" [ngClass]="routeAnimationsElements">
                                <div class="col">
                                    <label>{{ 'simbad.examples.form.text2' | translate }}</label>
                                    <br>
                                    <mat-slider thumbLabel tickInterval="1" min="1" max="10" formControlName="rating"></mat-slider>
                                </div>
                            </div>
                            <div class="row">
                                <mat-checkbox class="col" formControlName="requestGift" [ngClass]="routeAnimationsElements">
                                    {{ 'simbad.examples.form.text1' | translate }}
                                </mat-checkbox>
                            </div>
                            <div class="row buttons d-flex justify-content-between pad">
                                <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements">
                                    {{ 'simbad.examples.form.send' | translate }}
                                </button>
                                <button type="button" mat-raised-button color="accent" [disabled]="form.get('autosave').value"
                                        [ngClass]="routeAnimationsElements" (click)="save()">
                                    {{ 'simbad.examples.form.save' | translate }}
                                </button>
                                <button type="reset" mat-raised-button (click)="reset()" [ngClass]="routeAnimationsElements">
                                    {{ 'simbad.examples.form.reset' | translate }}
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </form>

        </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="configuration-step"
        (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
