<div class="toolbar-wrapper">
    <mat-toolbar class="configuration-toolbar">
        <mat-toolbar-row>
            <span >Name: </span>
            <mat-form-field class="conf-name">
                <input matInput [formControl]="configurationNameControl" />
            </mat-form-field>
            <span class="toolbar-spacer"></span>
            <div class="actions-wrapper">
                <simbad-big-input-action
                    class="form-action-button"
                    fontSet="fas"
                    fontIcon="fa-plus"
                    faIcon="plus"
                    color="accent"
                    (action)="openCreateConfigurationDialog()"
                    [matTooltip]="'simbad.configuration.forms.tooltip.create' | translate"
                    matTooltipPosition="after"
                >
                </simbad-big-input-action>
                <simbad-upload-configuration-button></simbad-upload-configuration-button>
                <a *ngIf="(configurationJsonHref$ | async) as json" [href]="json" [download]="getConfigurationFileName()">
                    <simbad-big-input-action
                        class="form-action-button btn btn-clear"
                        fontSet="fas"
                        fontIcon="fa-download"
                        faIcon="download"
                        color="warn"
                        [matTooltip]="'simbad.configuration.forms.tooltip.download' | translate"
                        matTooltipPosition="after"
                    >`
                    </simbad-big-input-action>
                </a>
                <simbad-big-input-action *ngIf="buttonModel$ | async as model"
                        class="start-simulation-button"
                        fontSet="fas"
                        fontIcon="fa-chevron-circle-right"
                        faIcon="chevron-circle-right"
                        color="accent"
                        (action)="redirectAndStart()"
                        label="Start Simulation"
                        [disabled]="model.disabled"
                        [matTooltip]="model.tooltip | translate"
                        matTooltipPosition="after"
                ></simbad-big-input-action>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</div>
