<div class="parameter-wrapper" *ngIf="node">
    <div class="row">
        <div class="col-5">
            <mat-form-field class="example-full-width" [formGroup]="form">
                <input matInput placeholder="{{node.definition.className}}" [formControlName]="node.path">
            </mat-form-field>
        </div>
        <div class="col-5">
            <p>
                <b>{{node.definition.className}}: </b>
                {{node.definition.description}}
            </p>
        </div>
    </div>
</div>
