<div class="step-container">
    <simbad-performance-monitor
        [elapsedTime]="elapsedTime$ | async"
        [runtimeInfo]="runtimeInfo$ | async"
        class="performance-monitor"
    >
    </simbad-performance-monitor>
    <simbad-client-task-context
        [data]="taskContext$ | async"
        class="task-context"
    >
    </simbad-client-task-context>
    <simbad-client-artifact-list
        [artifacts]="artifactList$ | async"
        class="artifact-list"
    ></simbad-client-artifact-list>
</div>
<mat-divider></mat-divider>
