.simulation-wrapper {
    margin: 0 10%;
}
.simulation-menu {
    padding-bottom: 10px;
}

.step {
    height: 400px;
}

.action-button {
    margin-right: 10px;
}

.conf-name {
    padding-left: 8px;
}

#latest-simulation {
    margin-right: 10px;
}
