<div *ngIf="{
    conf: configuration$ | async,
    shouldDisable: shouldDisableStartButton$ | async,
    isAnalyzerStepCompleted: isAnalyzerStepCompleted$ | async,
    isCliTaskCompleted: isCliTaskCompleted$ | async
} as data"
     class="simulation-wrapper">
    <div class="simulation-menu">
        <button (click)="sendToCli(data.conf)"
                [disabled]="data.shouldDisable"
                id="toggle-linear"
                mat-raised-button
        >
            Start Pipeline
        </button>
        <simbad-upload-configuration-button></simbad-upload-configuration-button>
        <span *ngIf="!data.shouldDisable" class="conf-name">
           {{data.conf.name}}
        </span>
    </div>
    <mat-horizontal-stepper
        #stepper
        *ngIf="cliStepInfo$ | async as cliStatus"
        linear="true">
        <ng-template matStepperIcon="edit">
            <fa-icon icon="ellipsis-h"></fa-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
            <fa-icon icon="check"></fa-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
            <fa-icon *ngIf="index === 0 && !data.isCliTaskCompleted" icon="spinner" pulse="true" spin="true"></fa-icon>
            <fa-icon *ngIf="index === 0 && data.isCliTaskCompleted" icon="check"></fa-icon>
            <fa-icon *ngIf="index === 1 && !data.isAnalyzerStepCompleted" icon="spinner" pulse="true" spin="true"></fa-icon>
            <fa-icon *ngIf="index === 1 && data.isAnalyzerStepCompleted" icon="check"></fa-icon>
        </ng-template>
        <mat-step class="step" [completed]="isCliTaskCompleted$ | async">
            <ng-template matStepLabel>Simbad CLI</ng-template>
            <simbad-client-cli-step></simbad-client-cli-step>
        </mat-step>
        <mat-step [completed]="isAnalyzerStepCompleted$ | async" class="step">
            <ng-template matStepLabel>Spark</ng-template>
            <simbad-client-analyzer-step></simbad-client-analyzer-step>
        </mat-step>
        <mat-step [completed]="isReportStepCompleted$ | async" class="step">
            <ng-template matStepLabel>Reports</ng-template>
            <simbad-client-report-step></simbad-client-report-step>
        </mat-step>
    </mat-horizontal-stepper>
</div>
