.simulation-wrapper {
    margin: 0 10%;
}
.simulation-menu {
    padding-bottom: 10px;
}

.cli-step {
    height: 300px;
}

.action-button {
    margin-right: 10px;
}

.conf-name {
    padding-left: 8px;
}
