<h4>Status Monitor</h4>
<mat-divider></mat-divider>
<div class="tile-container">
    <div>
        <simbad-status-tile class="simple-tile" value="{{elapsedTime}}" title="Time Running"
                            faIcon="clock"></simbad-status-tile>
        <ng-container *ngIf="runtimeInfo">
            <simbad-status-tile class="simple-tile" *ngIf="formatRam(runtimeInfo.memory) as formatted"
                                value="{{formatted.value}}" title="{{formatted.title}}"
                                faIcon="memory"></simbad-status-tile>
        </ng-container>

        <simbad-status-tile class="simple-tile" *ngIf="runtimeInfo" value="{{runtimeInfo.cpu.toFixed(2)}}"
                            title="CPU Usage [%]"
                            faIcon="microchip"></simbad-status-tile>
    </div>
</div>
