<div class="parameter-wrapper" *ngIf="node">
    <div class="row">
        <div class="col-5">
            <mat-form-field class="example-full-width" [formGroup]="form">
                <input matInput placeholder="{{node.definition.className}}" [formControlName]="node.path" >
                <div class="errors-wrapper" *ngIf="control.errors">
                    <mat-error *ngIf="control.errors.required">
                        Parameter is required
                    </mat-error>
                    <mat-error *ngIf="control.errors.min || control.errors.max">
                        Value must be {{node.definition.valueType}} between {{node.definition.minValue}} and {{node.definition.maxValue}}
                    </mat-error>
                </div>
            </mat-form-field>
        </div>
        <div class="col-5">
            <p>
                <b>{{node.definition.className}}: </b>
                {{node.definition.description}}
            </p>
        </div>
    </div>
</div>
