@mixin mat-table-columns($columns) {
    .mat-column-{
        @each $colName, $props in $columns {

            $width: map-get($props, 'width');

            &#{$colName} {
                flex: $width;
                max-width: $width;

                @if map-has-key($props, 'color') {
                    color: map-get($props, 'color');
                }
            }
        }
    }
}

@include mat-table-columns((
    name: (width: 14rem),
    fileType: (width: 4rem),
    actions: (width: 4rem),
));

.wrapper {
    width: 100%;
}

table {
    width: 100%;
    font-size: 12px;
}

.table-container {
    height: 300px;
    min-width: 500px;
    margin-top: -18px;
    overflow: auto;
}

@media screen and ( max-width: 1000px) {
    .table-container {
        flex-direction: column;
        min-width: unset;
        height: unset;
        max-height: 300px;
    }
}

.table-menu {
    margin-top: -12px;
    mat-form-field {
        width: 100%;
    }
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
  padding-right: 0;
}
