<h4>Status Monitor</h4>
<mat-divider></mat-divider>
<div class="tile-container" *ngIf="taskStatus$ | async as status">
    <div *ngIf="elapsedTime$ | async as time">
        <simbad-status-tile class="simple-tile" value="{{time}}" title="Time Running"
                            faIcon="clock"></simbad-status-tile>
        <simbad-status-tile class="simple-tile" value="{{status.cliInfo.memory.toFixed(2)}}" title="RAM Usage [MB]"
                            faIcon="memory"></simbad-status-tile>
        <simbad-status-tile class="simple-tile" value="{{status.cliInfo.cpu.toFixed(2)}}" title="CPU Usage [%]"
                            faIcon="microchip"></simbad-status-tile>
    </div>
</div>
