.step-container {
    display: flex;
    height: 250px;
}

.artifact-list {
    flex: 1 1 0;
    height: 100px;
    margin-right: 10px;
    max-width: 400px;
}

.task-context {
    flex: 2 1 0;
    height: 100px;
    margin-right: 10px;
}



.performance-monitor {
    flex: 1 1 0;
    height: 100px;
    margin-right: 10px;
}
